/* 
    Document   : mobile.css
    Created on : 26.09.2011, 11:32:38
    Author     : aklassen
    Description:
        Purpose of the stylesheet follows.
*/


.ui-icon-studip-activities {
    background-image: url('../../../../../assets/images/icons/32/lightblue/billboard.png');
    background-color: transparent;
    height: 32px;
    width: 32px;
    top: 0;

}

.ui-icon-studip-courses {
    background-image: url('../../../../../assets/images/icons/32/lightblue/seminar.png');
    background-color: transparent;
    height: 32px;
    width: 32px;
    top: 0;

}

.ui-icon-studip-dates {
    background-image: url('../../../../../assets/images/icons/32/lightblue/schedule.png');
    background-color: transparent;
    height: 32px;
    width: 32px;
    top: 0;

}